:root {
    --color-1: #7AC5CD;
    /*màu xanh tối */
    --color-2: #8EE5EE;
    /*màu xanh sáng */
    --color-3: white;
}

/* @font-face {
    src: url(./RobotoMono-VariableFont_wght.ttf);
    font-family: RobotoMono;
} */

body {
    padding: .5rem;
}
/* Class chung */

.col-3, .col-md-3 {
    padding-left: 0px !important; 
    padding-right: 0px !important; 
}

.col-6 {
    padding: .5rem !important;
}

.hr {
    border-top: 2px solid var(--color-2);
}

/* thẻ button */

.--btn {
    display: inline-block;
    padding: 0.4rem;
    text-align: center;
}

.--btn:hover {
    text-decoration: none;
}

/* Message */

.message {
    display: inline-block;
    position: fixed;
    top: 5rem;
    right: .5rem;
    width: 20rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    color: var(--color-3);
    background: linear-gradient(170deg, var(--color-2) 50%, white);
    z-index: 10;
}

.product-img {
    display: block;
    max-height: 60px;
    width: 40px;
}

/* ---------Header---------- */
/* ---------HeaderLogo---------- */
/* __Logo */

.header__logo {
    background: linear-gradient(170deg, var(--color-2) 50%, white);
    height: 6rem;
}

.header__logo--img {
    margin-left: .5rem;
    height: 5rem;
    width: 16rem;
}

/* Title */

.header_title {
    color: var(--color-3);
    margin-left: 2rem;
    letter-spacing: .5rem;
}
/* ---------HeaderListTitle---------- */
/* --btn */
.header__list-title--btn {
    cursor: pointer;
    margin-left: 1rem;
    padding: .5rem .9rem;
    border-radius: 20px;
    border: 1px solid var(--color-2);
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--color-2);
    background: linear-gradient(130deg, var(--color-3) 50%, white );
    transition: all 1000ms;

}

.header__list-title--btn:hover {
    color: var(--color-1);
    transition: all 1000ms;
}

/* ----------admin-category__list------------- */
/* List */
ul {
    padding-inline-start: .5rem !important;
}


.admin-category__list > ul > span {
    width: 100%;
    color: var(--color-2);
    cursor: pointer;
}



.admin-category__item {
    width: 100%;
    display: none;
    margin: .3rem .5rem;
    font-size: .8rem;
    color: var(--color-2);
    list-style-type: none;
}

.admin-category__item > a {
    color: var(--color-2);
}

.admin-category__item:hover > a {
    text-decoration: none;
    color: var(--color-2);
}



/* List Order */

.table {
    font-size: .7rem;
    color: var(--color-3) !important;
    background-color: var(--color-2);
}

.tb-list__icon {
    margin: .2rem;
    padding: .2rem;
    color: var(--color-3);
    font-size: .8rem;
}

.tb-list__icon:hover {
    border-bottom: 2px solid var(--color-3);
    color: var(--color-3);
}
/* Form */
.form-bg {
    border-radius: 15px;
    background: linear-gradient(50deg, var(--color-2) 50%, white);
    padding: 2rem;  
}

.log-re__title-1 > span {
    margin: 0rem 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--color-3);
}

.log-re__title-2 > span > i {
    margin: 0rem 3rem;
    font-size: 1rem;
    color: var(--color-3);
}

.log-re__title-3 > span {
    color: var(--color-1);
}


.log-re__title-3 > a {
    padding: .5rem 1rem;
    color: var(--color-1);
}

.log-re__title-3:hover > a {
    border-radius: 15px;
    color: var(--color-3);
    transition: 500ms;
}

.log-re__item-close {
    color: var(--color-3);
    cursor: pointer;
}

.log-re__ip {
    margin: .5rem;
}

.log-re__ip > div > label {
    color: var(--color-3);
}

.log-re__ip > div > div > input,.log-re__ip > div > div > select {
    border-radius: 15px;
    color: var(--color-2);
}

.log-re__ip:focus > div > input {
    color: var(--color-2);
}

.log-re__btn-submit > button, .log-re__btn-submit > span, .log-re__btn-submit > label {
    padding: .5rem 1.5rem;
    color: var(--color-3);
    border-radius: 15px;
    border: 1px solid var(--color-3);
    background: linear-gradient(180deg, var(--color-2) 50%, white);  
}

.log-re__btn-submit:hover > button {
    border-color: var(--color-2);
    color: var(--color-2);
    background: linear-gradient(100deg, var(--color-3) 60%, rgb(200, 200, 200));  
    transition: all 1000ms;
}


/* Thông báo Notification */

.notification-list {
    position: absolute;
    display: none;
    width: 15rem;
    max-width: 15rem;
    max-height: 10rem;
    margin-top: .2rem;
    margin-left: .5rem;
    border: 1px solid var(--color-3);
    border-radius: 10px;
    list-style-type: none;
    background: linear-gradient(100deg, var(--color-2) 60%, rgb(200, 200, 200)); 
}

.notification-list > li {
    margin: .3rem .5rem;
    font-size: .7rem;
    font-style: italic;
    color: var(--color-3);
}